
h1, a {
    text-align: center;
}
button {
    color: aqua;
    background-color: yellowgreen;
    width: 70px;
    line-height: 10px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    outline: none;
}
button:hover {
    background-color: black;
    cursor: pointer;
    
}
a {
    display: block;
    text-decoration: none;
}
div {
    text-align: center;
}